.app-wrapper{
  display: grid;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/

  width: 1200px;
}

.header {
  grid-area: h;
  height: 100px;
  background-color: rgba(67,191,163,0.88);
}
.header img {
  width: 80px;

}

.nav{
  grid-area: n;
  width: 200px;
  padding: 10px;
  background-color: rgba(126,129,191,0.88);
}

.content {
  grid-area: c;
  background-color: rgba(191,130,133,0.88);
}

.mainImg img {
  /*width: 500px;*/
}