.message{
    color: #34427d;
    padding: 10px;
    border: solid black 1px;
    border-radius: 25px;
    margin: 15px;
}
.outgoing{
    justify-self: end;
    text-align: right;
    background-color: rgba(100,198,209,0.99);
}
.incoming{
    justify-self: start;
    text-align: left;
    background-color: cornflowerblue;
}